*.o
*.fsu
*.root
core.FSUDAQ*

FSUDAQ_Qt6
test
test_indep
programSettings.txt
a4818_list.txt
EventBuilder
EventBuilderNew
EventBuilder2
EventBuilderNoTrace
EventBuilder_sortTime
DataGenerator
DataReaderScript
DataReader
pid.dat
DAQLock.dat
DumpFSU2ROOT
SettingsExplorer
AggSeparator
FSU2CAEN
Bin2Root

data
Data
raw_binary

*.d
*.pcm

*.txt
*.tar
*.tar.gz
*.BIN

*~
*.autosave
moc_*
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash
*.gdb_history
